{% extends "layout.html" %}

{% block title %}
    Add Password
{% endblock %}

{% block main %}
    <div class="column1">
        <h1>Add Password</h1><br><br>

        <form action="/addpassword" method="post">
            <div class="mb-3">
                <input autocomplete="off" class="forms green_bg mx-auto w-auto " id="platform" required name="platform" placeholder="Platform" type="text">
            </div>
            <div class="mb-3">
                <input autocomplete="off" class="forms mx-auto w-auto green_bg" id="platform_username" required name="platform_username" placeholder="Username" type="text">
            </div>
            <div class="mb-3">
                <input class="forms mx-auto w-auto green_bg" id="platform_password" name="platform_password" required placeholder="Password" type="password">
            </div>
            <div class="mb-3">
                <input autocomplete="off" class="forms mx-auto w-auto green_bg" id="password_comment" name="password_comment" placeholder="Comment" type="text">
            </div>
            <button class="green_button" type="submit">Save</button>
        </form>
    </div>

{% endblock %}