{% extends "layout.html" %}

{% block title %}
    Change Password
{% endblock %}

{% block main %}
    <div class="column1">
            <h1>Change Password</h1><br><br>

        <form action="/changepassword" method="post">
            <div class="mb-3">
                <input class="form-control mx-auto w-auto" autocomplete="off" autofocus required name="old_password" placeholder="Enter Old Password" type="password">
            </div>

            <div class="mb-3">
                <input class="form-control mx-auto w-auto" name="new_password" placeholder="New Password" type="password" required pattern="(?=.*\d)(?=.*[A-Za-z]).{7,}">
            </div>
            <div class="mb-3">
                <input class="form-control mx-auto w-auto" name="confirmation" placeholder="Confirm New Password" type="password" required pattern="(?=.*\d)(?=.*[A-Za-z]).{7,}">
            </div>

            <button class="btn green_button" type="submit">Change</button><br><br>
        </form>
        <div class="form-group">
            <h5><b>Conditions for a strong password:</b><br></h5>
            <i>1. Password length must be at least 7 characters</i><br>
            <i>2. Password must have at least 1 digits</i><br>
            <i>3. Password must have at lest 1 special characters</i><br>
        </div><br><br>
    </div>
{% endblock %}
