{% extends "layout.html" %}

{% block title %}
    Forgot Password
{% endblock %}

{% block main %}
<div class="topbottompadding">
    <form action="/forgotpassword" method="post">
        <div class="mb-3">
            <h1>Forgot Password</h1><br><br>
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="username" name="username" placeholder="Enter Username" type="text">
        </div>
        <div class="mb-3">
            <select name="security_question">
                <option class="form-control mx-auto w-auto" value="Select A Sport" disabled selected >Select Your Security Question</option>
                {% for question in SECURITY_QUESTIONS %}
                    <option value="{{ question }}">{{ question }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" autocomplete="off" name="security_answer" placeholder="Enter Your Security Answer" type="text">
        </div>
        <button class="btn btn-primary" type="submit">Submit</button>
    </form>
</div>
{% endblock %}
