{% extends "layout.html" %}

{% block title %}
    Update Password
{% endblock %}

{% block main %}
<div class="column1">
    <h1>Edit Password</h1><br><br>

    <div class="mb-3">
            <form action="/updatepassword" method="post">
                <h4>PLATFORM:</h4><input class="forms green_bg mx-auto w-auto" value="{{ platform }}" name="new_platform" type="text"><br><br>
                <h4>USERNAME:</h4><input class="forms green_bg mx-auto w-auto" value="{{ platform_username }}" name="new_platform_username" type="text"><br><br>
                <h4>PASSWORD:</h4><input class="forms green_bg mx-auto w-auto" value="{{ platform_password }}" name="new_platform_password" type="text"><br><br>
                <h4>COMMENT:</h4><input class="forms green_bg mx-auto w-auto" value="{{ password_comment }}" name="new_password_comment" type="text"><br><br>

                <input value="{{ id }}" name="id" type="hidden">
                <button class="btn green_button" type="submit">Update</button>
            </form>
        </h4><br>
    </div>
</div>

{% endblock %}