{% extends "layout.html" %}

{% block title %}
    View Passwords
{% endblock %}

{% block main %}
<div class="column1">
    {% if passwords_data %}
        <h1>Passwords</h1><br><br>
        {% for i in range(length) %}
            <div class="displayprofile">

                <h4><table class="tablebody" style="width:auto; text-align: left">
                    <tr>
                        <td class="tablebody">Platform:</td>
                        <td >{{ passwords_data[i]["platform"] }}</td>
                    </tr>
                    <tr>
                        <td class="tablebody">Username:</td>
                        <td>{{ passwords_data[i]["platform_username"] }}</td>
                    </tr>
                    <tr>
                        <td class="tablebody">Password:</td>
                        <td>{{ passwords[i] }}</td>
                    </tr>
                    <tr>
                        <td class="tablebody">Comment:</td>
                        <td>{{ passwords_data[i]["password_comment"] }}</td>
                    </tr>
                </table></h4>

                <form action="/updatepassword" id="updatepassword" method="get">
                    <input value="{{ passwords_data[i]["id"] }}" name="id" type="hidden">
                    <input id="platform_password" value="{{ passwords[i] }}" name="platform_password" type="hidden">
                    <input id="platform_username" value="{{ passwords_data[i]["platform_username"] }}" name="platform_username" type="hidden">
                    <input id="platform" value="{{ passwords_data[i]["platform"] }}" name="platform" type="hidden">
                    <input id="password_comment" value="{{ passwords_data[i]["password_comment"] }}" name="password_comment" type="hidden">
                </form>

                <form action="/deletepassword" id="deletepassword" method="post">
                    <input value="{{ passwords_data[i]["id"] }}" name="id" type="hidden">
                </form>

                <button class="btn green_button padding" form="deletepassword" type="submit">Delete</button><button class="btn green_button" form="updatepassword" type="submit">Edit</button>

                </h4>
            </div><br><br><br><br>

        {% endfor %}

    {% else %}
        <h1 class="green">No Passwords Saved</h1><br>
        <img src="/static/empty.png" alt="Empty"><br><br><br><br><br><br>
    {% endif %}
</div>
{% endblock %}