{% extends "layout.html" %}

{% block title %}
Weak Passwords
{% endblock %}

{% block main %}
<div class="column1">
    {% if userdata %}
        <h1>Weak Passwords</h1><br><br>
        {% for i in range(length) %}
            <div class="displaycomment">
                <h4><table class="tablebody" style="width:auto; text-align: left">
                    <tr>
                        <td class="tablebody">Platform:</td>
                        <td >{{ userdata[i]["platform"] }}</td>
                    </tr>
                    <tr>
                        <td class="tablebody">Username:</td>
                        <td>{{ userdata[i]["platform_username"] }}</td>
                    </tr>
                    <tr>
                        <td class="tablebody">Password:</td>
                        <td>{{ weakpasswords[i] }}</td>
                    </tr>
                </table></h4>
            </div><br><br><br><br>
        {% endfor %}
    {% else %}
        <h1 class="green">No Weak Passwords</h1><br>
        <img src="/static/empty.png" alt="Empty"><br><br><br><br><br><br>
    {% endif %}
</div>
{% endblock %}